$app-background-color: #092B40;
$icon-color: #D96F32;
$text-color: #fff;

$wikilist-row-background-color: #e6e6e7;
$wikilist-row-left-border-color: #d86f32;
$wikilist-row-text-color: #2b2b2b;

@import url(https://fonts.googleapis.com/css?family=Rokkitt:700);

html, body, #react-app {
	height: 100%;
	background-color: $app-background-color;
	color: $text-color;
	font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.container-fluid {
	padding-top: 15%;
	font-size: 1.150em;
}

.rand-article-link > a {
	color: $text-color;

	&:hover, &:focus {
		text-decoration: none;
	} 
}

.search-icon {
	$border-width: 4px;

	input {
		display: block;
		border: $border-width solid $icon-color;
		background-color: $app-background-color;
		border-radius: 50%;
		width: 37.5px;
		height: 37.5px;
	
		&:hover {
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}
	}

	&:after {
		display: block;
		position: absolute;
		content: '';
		height: 14px;
		width: 0px;
		border: ($border-width * 0.32) solid $icon-color;
		position: relative;
		top: -6px;
		left: 51.2%;
		transform: rotate(-45deg);
		background-color: $icon-color;
	}
}

.search-icon-expand {
	$shrink-tail-time: .10s;
	$expand-time: .20s;

	&:after {
		animation: shrink-tail $shrink-tail-time ease-out forwards;
	}

	& input {
		// $shrink-tail-time used as delay for expansion of input.
		animation: expand $expand-time ease-out $shrink-tail-time forwards;
	}

	@keyframes shrink-tail {
		from {
			height: 14px;
		}
		to {
			height: 0px;
			border-width: 0;
		}
	}

	@keyframes expand {
		from {
			border-radius: 50%;
			width: 37.5px;
		}
		to {
			border-radius: 20px;
			width: 250px;
			font-size: .8em;
			padding-left: .8%;
			padding-right: 2.0%;
		}
	}
}

.search-icon-shrink {
	$expand-tail-time: .10s;
	$shrink-time: .20s;

	& input {
		animation: shrink $shrink-time ease-out forwards;
	}

	&:after {
		// $expand-tail-time used as delay for expansion of input.

		animation: expand-tail $expand-tail-time ease-out $shrink-time forwards;
	}

	@keyframes expand-tail {
		from {
			height: 0px;
			border-width: 0;
		}
		to {
			height: 14px;
			border-width: 1.28px solid $icon-color;
		}
	}

	@keyframes shrink {
		from {
			border-radius: 20px;
			width: 250px;
			font-size: .8em;
			padding-left: .8%;
			padding-right: 2.0%;
		}
		to {
			border-radius: 50%;
			width: 37.5px;
		}
	}	
}

.cross {
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: .8;

	&:before, &:after {
		content: ' ';
		position: absolute;
		width: 2px;
		height: 20px;
		background-color: $icon-color;
	}

	&:hover {
		opacity: 1;
		cursor: pointer;
	}

	&:before {
		transform: rotate(45deg);
	} 

	&:after {
		transform: rotate(-45deg);
	}
}

.search-icon-row {
	margin-top: 1%;
	margin-bottom: .5%;
	min-height: 65px;
}

.wikilist-enter {
	opacity: 0;
}

.wikilist-enter-active {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.wikilist-leave {

}

.wikilist-leave-active {

}

.wikiList-row {
	background-color: $wikilist-row-background-color;
	padding: 2.4%;
	margin: 2%;
	box-sizing: border-box;

	.wikilist-row-title {
		color: black;
		font-weight: bold;
		font-size: 1.1em;
	}

	.wikilist-row-body {
		color: $wikilist-row-text-color;
		font-size: .85em;
	}

	&:hover {
		border-left: 5px solid $icon-color;
		cursor: pointer;
	}
}